:root {
    --yellow: #FFC602;
    --darkblack: #363636;
    font-family: 'Montserrat', sans-serif;
}

.cec-events-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.cec-events-container * {
    box-sizing: border-box;
}

.head-cec {
    width: 100%;
    margin: 0 0 1em;
    color: var(--yellow);
}

.cec-events-list {
    max-width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}


.events-list {
    padding: 10px;
    border: 1px solid whitesmoke;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
}

.event-head {
    color: var(--yellow);
}

.event-head:hover {
    color: darkgoldenrod;
}

.event-date {
    color: var(--yellow);
}

.event-loc {
    color: var(--yellow);
}
.event-value {
    color: white;
}

.event-grid {
    display: grid;
    grid-template-columns: 120px 1fr auto;
    gap: 20px;
    align-items: center;
    padding-right: 10px;
    max-width: 100%;
    max-height: 100%;
}

.event-thumbnail-wrapper {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
}

.event-thumbnail {
    width: 100%;
    height: auto;
    display: block;
}

.event-content {
    flex: 1;
    max-width: 100%;
}


.event-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--yellow);
    color: var(--darkblack);
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.event-button:hover {
    background-color: rgba(255,255,255,0);
    color: var(--yellow);
    border: solid 2px var(--yellow);
}


/* Responsive: Move the button below at 768px */
@media (max-width: 768px) {
    .event-grid {
        grid-template-columns: 120px 1fr; /* Switch to 2 columns */
        grid-template-rows: auto auto; /* Allow stacking */
        padding-left: 0;
        justify-items: center;
        align-items: center;
    }

    .event-button-wrapper {
        grid-column: 1 / -1; /* Make the button span across both columns */
        justify-self: left; /* Center the button */
        margin-top: -10px; /* Add spacing */
    }
    .event-head{
        font-size: 16px;
        max-width: 100%;
    }
    .head-cec {
        text-align: center;
    }
}